/GameOfLife/GameOfLife.vcxproj.user
/shelf/
/.idea/
/.vs/
/workspace.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.GameOfLife.iml
/contentModel.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
/x64/
/GameOfLife/x64/
/Application/x64/