/GameOfLife/GameOfLife.vcxproj.user
/Application/Application.vcxproj
/Application/Application.vcxproj.user
/Application/Application.vcxproj.filters
/shelf/
/.idea/
/.vs/
/workspace.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.GameOfLife.iml
/contentModel.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
/x64/
/Cuda_Runtime/x64/
/Application/x64/
/GameOfLife/Debug/
/Application/Debug/
/packages/
